/* 一覧 */
.app-table {
  table-layout: fixed;
}
.form-control {
  height: 40px; 
  width: 100%;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 詳細 */
span.font-impact {
  /* font-family: "Impact"; */
  font-size: medium;
  overflow-wrap: break-word;
  white-space: normal;
}

a.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

a.btn-link {
  font-weight: 700;
  height: 36px;
}

/* PC */
.app-show-container {
  width: 100%;
  white-space: nowrap;
}

/* タブレット */
@media (max-width: 768px) { 
  /* 一覧 */
  .for-tablet {
    display: inline;
  }
}

/* スマホ */
@media (max-device-width: 500px) {
  /* 一覧 */
  .for-pc.for-tablet {
    display: inline;
  }
}
